
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color:#F2D7D5 ;
    color: black;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.product-review, .chemical-free {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
}

.product-review h3, .chemical-free h3 {
    margin-top: 0;
}
